# Import Packages

In [1]:
import pandas as pd
import sys
from pandas_profiling import ProfileReport

In [2]:
sys.path.append('..')
from src.config import RAW_DIR

# Import Data

In [3]:
data = pd.read_csv(f'{RAW_DIR}/hdb_resale_price.csv')
data['datetime'] = pd.to_datetime(data['month'])
data.info()

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831336 entries, 0 to 831335
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                831336 non-null  object
 1   town                 831336 non-null  object
 2   flat_type            831336 non-null  object
 3   block                831336 non-null  object
 4   street_name          831336 non-null  object
 5   storey_range         831336 non-null  object
 6   floor_area_sqm       831336 non-null  float64
 7   flat_model           831336 non-null  object
 8   lease_commence_date  831336 non-null  int64
 9   resale_price         831336 non-null  float64
 10  remaining_lease      122282 non-null  object
 11  datetime             831336 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 76.1+ MB

# Pandas Profiling

https://github.com/pandas-profiling/pandas-profiling

In [4]:
profile = ProfileReport(data, title="Pandas Profiling Report", explorative=True)

In [5]:
profile.to_file("01 Data Exploration (Report).html")

Summarize dataset:   0%|          | 0/25 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Manual Analysis

## Town

In [6]:
data['town'].value_counts()

TAMPINES           73453
YISHUN             63572
BEDOK              61656
JURONG WEST        60989
WOODLANDS          58971
ANG MO KIO         48438
HOUGANG            45728
BUKIT BATOK        40565
CHOA CHU KANG      33558
BUKIT MERAH        30706
PASIR RIS          30450
TOA PAYOH          28653
QUEENSTOWN         26067
CLEMENTI           25893
GEYLANG            25803
BUKIT PANJANG      24455
SENGKANG           24374
KALLANG/WHAMPOA    24164
JURONG EAST        22962
SERANGOON          21223
BISHAN             19632
PUNGGOL            12763
SEMBAWANG          11089
MARINE PARADE       7424
CENTRAL AREA        6391
BUKIT TIMAH         2293
LIM CHU KANG          64
Name: town, dtype: int64

## Flat Type

In [7]:
data['flat_type'].value_counts()

4 ROOM              311296
3 ROOM              273597
5 ROOM              171666
EXECUTIVE            63064
2 ROOM                9932
1 ROOM                1275
MULTI GENERATION       279
MULTI-GENERATION       227
Name: flat_type, dtype: int64

## Storey Range

In [8]:
data['storey_range'].value_counts().sort_index()

01 TO 03    169822
01 TO 05      2700
04 TO 06    210848
06 TO 10      2474
07 TO 09    190114
10 TO 12    161060
11 TO 15      1259
13 TO 15     52644
16 TO 18     19672
16 TO 20       265
19 TO 21      9525
21 TO 25        92
22 TO 24      6124
25 TO 27      2583
26 TO 30        39
28 TO 30      1079
31 TO 33       283
31 TO 35         2
34 TO 36       279
36 TO 40         7
37 TO 39       273
40 TO 42       138
43 TO 45        19
46 TO 48        25
49 TO 51        10
Name: storey_range, dtype: int64

## Flat Model

In [9]:
data['flat_model'].value_counts()

Model A                   159537
Improved                  144989
New Generation             99248
NEW GENERATION             78898
IMPROVED                   73593
MODEL A                    70381
Premium Apartment          35601
Simplified                 30866
SIMPLIFIED                 23258
Standard                   22599
Apartment                  22303
STANDARD                   17375
Maisonette                 14864
MAISONETTE                 12215
APARTMENT                   9901
Model A2                    9149
DBSS                        1725
Adjoined flat               1096
MODEL A-MAISONETTE           982
Model A-Maisonette           912
Terrace                      398
MULTI GENERATION             279
Type S1                      278
TERRACE                      247
Multi Generation             227
Type S2                      136
Premium Maisonette            82
Improved-Maisonette           70
IMPROVED-MAISONETTE           44
Premium Apartment Loft        36
2-ROOM                        21
2-room                        20
PREMIUM APARTMENT              6
Name: flat_model, dtype: int64

In [10]:
data['flat_model'].str.upper().value_counts()

MODEL A                   229918
IMPROVED                  218582
NEW GENERATION            178146
SIMPLIFIED                 54124
STANDARD                   39974
PREMIUM APARTMENT          35607
APARTMENT                  32204
MAISONETTE                 27079
MODEL A2                    9149
MODEL A-MAISONETTE          1894
DBSS                        1725
ADJOINED FLAT               1096
TERRACE                      645
MULTI GENERATION             506
TYPE S1                      278
TYPE S2                      136
IMPROVED-MAISONETTE          114
PREMIUM MAISONETTE            82
2-ROOM                        41
PREMIUM APARTMENT LOFT        36
Name: flat_model, dtype: int64